force-app/main/default/flows/Update_Account_Level_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Low</name>
        <label>Assign Low</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>tmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mid_0</name>
        <label>Assign Mid</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>tmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_tmp_to_Zero</name>
        <label>Assign tmp to Zero</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>tmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correct_Amount</name>
        <label>Correct Amount</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>tmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tmp_0</name>
        <label>tmp 0</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>tmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Amount</name>
        <label>Check Amount</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>For_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_500_000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Opps.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Amount</targetReference>
            </connector>
            <label>More than 500.000</label>
        </rules>
        <rules>
            <name>Less_than_5_000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Opps.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tmp</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Low</targetReference>
            </connector>
            <label>Less than 5.000</label>
        </rules>
        <rules>
            <name>When_mid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Opps.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Opps.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tmp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tmp</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mid_0</targetReference>
            </connector>
            <label>When mid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_Asign_Level</name>
        <label>Check to Asign Level</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Assign_Mid_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tmp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_High</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tmp</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Low_Level</targetReference>
            </connector>
            <label>Low</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Level New</label>
    <loops>
        <name>For_Opps</name>
        <label>For Opps</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <collectionReference>getOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_Asign_Level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpps</name>
        <label>getOpps</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_tmp_to_Zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_High</name>
        <label>Assign High</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>tmp_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Level__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Low_Level</name>
        <label>Assign Low Level</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>tmp_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Level__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Mid_0_0</name>
        <label>Assign Mid</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>tmp_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Level__c</field>
            <value>
                <stringValue>Mid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpps</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>max</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>min</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tmp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
